@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
	background:url(../images/beijing.gif)
}
a{
	text-decoration:none;
	color:#858585;
}
a:hover{
	color:#F00;
}
.box{
	width:500px;
	height:500px;
	/*! padding:150px; */
	margin-top:100px;
	margin-bottom:75px;
	margin-left:400px;
	margin-right:550px;
	/*border:1px solid red;*/
}
.tubiao{
	width:200px;
	height:60px;
	/*border:1px solid red;*/
	margin-top:10px;
	margin-left: 150px;
}
.content{
	background:url(../images/denglu.png);
	width:410px;
	height:310px;
	margin-top:5px;
	margin-left:50px;
	/*! border:1px solid red; */
}
.zhujiemian{
	margin-top:28px;
	margin-left: 60px;
	margin-right:45px;
	padding-top:30px;
	/*border:1px solid red;*/
}
input.rounded {
        border:0px;  
		background-image: url(../images/yuanjiao1.png);  
		background-repeat:no-repeat;  /*背景图片不重复*/
		/*! background-position-x:right; */  
		padding-left:12px;  /*输入框里面的字体离输入框的距离*/
		font-size:15px;  
		
		width:300px;/*输入框的大，小字体颜色*/
		height:30px;
		color:#999; 
		background-color:transparent;/*输入框自带的白色背景变成透明*/
		outline:0;/*360一点输入框自动出来的边框取消*/
		  
}
.button{
	height:30px;
	width:100px;
	font-size:15pt;
	background: url(../images/anniu.png);
	vertical-align: middle;
	font-family: "宋体";
	color:#333;
	text-align: center;
	padding-top: 2px;
}
